### **INF2413 - Bases de Datos**
# Evaluación 1: SQL

## 1. Introducción
---
En esta tarea evaluaremos sus conocimientos de SQL.

En este notebook dejaremos el espacio para escribir sus consultas, y probar si funcionan correctamente.

Para entregar su solución, basta con escribir sus respuestas en el notebook, **guardar los cambios**, descargar el notebook, y subirlo por canvas.


## 2. Esquema

Para esta actividad vamos a trabajar con datos de una empresa que vende productos a través de varias tiendas. Trabajaremos con el siguiente esquema:

- Tiendas(tid PRIMARY KEY, capacidad, minpersonal)
- Productos(pid PRIMARY KEY, nombre, precio, tipo)
- Vende(tid,pid) PRIMARY KEY(tid,pid)
- Usuarios(uid PRIMARY KEY, nombre, calle, comuna, region)
- Compras(cid PRIMARY KEY, uid, tid)
- Contenido_Compra(cid,pid,cantidad) PRIMARY KEY (cid,pid)

En este esquema, la tabla 'Tiendas' tiene información sobre cada tienda de la empresa. La información que guardaremos sobre cada tienda es su id único, la capacidad de personas que pueden ingresar a la tienda, y la cantidad mínima del personal requerido para el funcionamiento de la tienda. El repositorio (único) de productos se guarda en la tabla 'Productos', donde cada producto se describe a través de su id, nombre, su precio y tipo. Para registrar que una tienda en particular vende un producto, se ocupa la tabla 'Vende', vinculando la tienda con el producto. Por otro lado, la tabla 'Usuarios' tiene un registro de los usuarios de la empresa, respaldando la información con su nombre y dirección.

Para registrar las compras que los usuarios realizan de una tienda específica, se tienen dos tablas. La primera, llamada 'Compras' establece una compra de un usuario en una tienda, y la tabla 'Contenido_Compra' guarda la información sobre los productos comprados en cada compra individual. También se guarda la información sobre la cantidad de unidades de cada producto comprado para poder modelar que un usuario compra varias unidades del mismo producto en una compra.

## 3. Datos

Aquí crearemos una instancia del esquema de arriba e insertaremos algunos datos a la instancia.

La idea es que cada tabla debería tener al menos una fila y cada consulta de abajo debería devolver al menos una respuesta con los datos especificados.

In [2]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,272 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [909 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [942 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,167 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,732 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,496 kB]
Fetched 11.8 MB in 5s (2,415 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
48 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: @postgres'

In [4]:
%%sql
DROP TABLE IF EXISTS Tiendas;
CREATE TABLE Tiendas(tid INT PRIMARY KEY, capacidad INT, minpersonal INT);
INSERT INTO Tiendas VALUES(1, 100, 10);
INSERT INTO Tiendas VALUES(2, 150, 15);
INSERT INTO Tiendas VALUES(3, 50, 5);

DROP TABLE IF EXISTS Productos;
CREATE TABLE Productos(pid INT PRIMARY KEY, nombre VARCHAR(200), precio FLOAT, tipo VARCHAR(100));
INSERT INTO Productos VALUES(100, 'Polera BTS', 40, 'Ropa');
INSERT INTO Productos VALUES(200, 'Polera Bad Bunny', 20, 'Ropa');
INSERT INTO Productos VALUES(300, 'Refrigerador', 1000, 'Electro');
INSERT INTO Productos VALUES(400, 'Mancuerna 10kgs', 80, 'Deporte');
INSERT INTO Productos VALUES(500, 'Banda elástica', 10, 'Deporte');
INSERT INTO Productos VALUES(600, 'Pelota Futbol', 200, 'Deporte');
INSERT INTO Productos VALUES(700, 'Cafetera', 100, 'Electro');
INSERT INTO Productos VALUES(800, 'Monitor', 200, 'Tecnología');
INSERT INTO Productos VALUES(900, 'Notebook', 1200, 'Tecnología');
INSERT INTO Productos VALUES(1000, 'Lomo kg', 10, 'Carne');

DROP TABLE IF EXISTS Vende;
CREATE TABLE Vende(tid INT, pid INT, PRIMARY KEY(tid, pid));
INSERT INTO Vende VALUES(1, 100);
INSERT INTO Vende VALUES(1, 200);
INSERT INTO Vende VALUES(1, 300);
INSERT INTO Vende VALUES(1, 400);
INSERT INTO Vende VALUES(1, 500);
INSERT INTO Vende VALUES(1, 600);
INSERT INTO Vende VALUES(1, 700);
INSERT INTO Vende VALUES(1, 800);
INSERT INTO Vende VALUES(1, 900);
INSERT INTO Vende VALUES(2, 100);
INSERT INTO Vende VALUES(2, 200);
INSERT INTO Vende VALUES(2, 300);
INSERT INTO Vende VALUES(2, 700);
INSERT INTO Vende VALUES(3, 100);
INSERT INTO Vende VALUES(3, 200);
INSERT INTO Vende VALUES(3, 300);
INSERT INTO Vende VALUES(3, 400);
INSERT INTO Vende VALUES(3, 500);
INSERT INTO Vende VALUES(3, 700);
INSERT INTO Vende VALUES(3, 800);
INSERT INTO Vende VALUES(3, 900);
INSERT INTO Vende VALUES(1, 1000);

DROP TABLE IF EXISTS Usuarios;
CREATE TABLE Usuarios(uid INT PRIMARY KEY, nombre VARCHAR(200), calle VARCHAR(200), comuna VARCHAR(100), region VARCHAR(200));
INSERT INTO Usuarios VALUES(1, 'Valentina', 'Calle 123', 'Conchalí', 'RM');
INSERT INTO Usuarios VALUES(2, 'Adrián', 'Dirección 145', 'Maipú', 'RM');
INSERT INTO Usuarios VALUES(5, 'Lomos', 'Dirección 90', 'Maipú', 'RM');
INSERT INTO Usuarios VALUES(3, 'Conito', 'Otra Calle 78', 'Viña del mar', 'Valparaíso');
INSERT INTO Usuarios VALUES(4, 'Frambuesa', 'Más direcciones 90', 'Concón', 'Valparaíso');

DROP TABLE IF EXISTS Compras;
CREATE TABLE Compras(cid INT PRIMARY KEY, uid INT, tid INT);
INSERT INTO Compras VALUES(1, 1, 1);
INSERT INTO Compras VALUES(101, 1, 1);
INSERT INTO Compras VALUES(3, 1, 1);
INSERT INTO Compras VALUES(4, 1, 2);
INSERT INTO Compras VALUES(5, 1, 2);
INSERT INTO Compras VALUES(6, 2, 1);
INSERT INTO Compras VALUES(7, 2, 2);
INSERT INTO Compras VALUES(8, 2, 3);
INSERT INTO Compras VALUES(9, 3, 3);
INSERT INTO Compras VALUES(10, 3, 3);
INSERT INTO Compras VALUES(11, 3, 1);
INSERT INTO Compras VALUES(12, 4, 1);

DROP TABLE IF EXISTS Contenido_Compra;
CREATE TABLE Contenido_Compra(cid INT, pid INT, cantidad INT, PRIMARY KEY(cid, pid));
INSERT INTO Contenido_Compra VALUES(1, 100, 2);
INSERT INTO Contenido_Compra VALUES(101, 800, 2);
INSERT INTO Contenido_Compra VALUES(101, 900, 1);
INSERT INTO Contenido_Compra VALUES(101, 100, 1);
INSERT INTO Contenido_Compra VALUES(101, 1000, 3);
INSERT INTO Contenido_Compra VALUES(3, 400, 2);
INSERT INTO Contenido_Compra VALUES(4, 200, 3);
INSERT INTO Contenido_Compra VALUES(5, 100, 1);
INSERT INTO Contenido_Compra VALUES(6, 100, 3);
INSERT INTO Contenido_Compra VALUES(6, 600, 1);
INSERT INTO Contenido_Compra VALUES(7, 300, 1);
INSERT INTO Contenido_Compra VALUES(7, 700, 1);
INSERT INTO Contenido_Compra VALUES(8, 200, 4);
INSERT INTO Contenido_Compra VALUES(8, 1000, 2);
INSERT INTO Contenido_Compra VALUES(9, 100, 2);
INSERT INTO Contenido_Compra VALUES(10, 100, 1);
INSERT INTO Contenido_Compra VALUES(11, 200, 1);
INSERT INTO Contenido_Compra VALUES(12, 500, 3);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

## 4. Consultas [6 puntos]

Escriban las siguentes consultas SQL que funcionan sobre el esquema de arriba. Cada consulta vale 0.5 puntos.

**1**. Liste los productos desde el más caro hasta el más barato:

In [5]:
%%sql 
SELECT *
FROM productos
order by precio desc

 * postgresql+psycopg2://@/postgres

    pid            nombre  precio        tipo
0   900          Notebook  1200.0  Tecnología
1   300      Refrigerador  1000.0     Electro
2   800           Monitor   200.0  Tecnología
3   600     Pelota Futbol   200.0     Deporte
4   700          Cafetera   100.0     Electro
5   400   Mancuerna 10kgs    80.0     Deporte
6   100        Polera BTS    40.0        Ropa
7   200  Polera Bad Bunny    20.0        Ropa
8   500    Banda elástica    10.0     Deporte
9  1000           Lomo kg    10.0       Carne

2. Máximo de los precios para cada tipo de producto. Las respuestas deberían listar pares [tipo, máximo(precio)].

In [7]:
%%sql 
SELECT tipo, MAX(precio) as "máximo precio"
FROM productos
group by tipo

 * postgresql+psycopg2://@/postgres

         tipo  máximo precio
0     Electro         1000.0
1  Tecnología         1200.0
2        Ropa           40.0
3       Carne           10.0
4     Deporte          200.0

3. Tienda con el número de clientes que realizaron compras en esta tienda. Ojo que hay que eliminar usuarios duplicados.

In [13]:
%%sql 
SELECT tid, count(distinct uid) as"Número de clientes"
FROM Compras
group by tid

 * postgresql+psycopg2://@/postgres

   tid  Número de clientes
0    1                   4
1    2                   2
2    3                   2

4. Nombre del usuario, junto con el precio del producto más caro que
compró. Si el usuario no realizó ninguna compra, no es necesario listarlo:

In [16]:
%%sql 
SELECT Usuarios.nombre, Max(Productos.precio) as "Precio"
FROM Usuarios, Compras, Contenido_Compra, Productos
WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
and Productos.pid=Contenido_Compra.pid
group by Usuarios.nombre

 * postgresql+psycopg2://@/postgres

      nombre  Precio
0     Conito    40.0
1  Valentina  1200.0
2     Adrián  1000.0
3  Frambuesa    10.0

5. Nombre de los usuarios que realizaron la compra con el mayor valor:

In [6]:
%%sql
SELECT Distinct Usuarios.nombre
FROM Usuarios, Compras, Contenido_Compra, Productos
WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
and Productos.pid=Contenido_Compra.pid 
group by Compras.cid, Usuarios.uid
having Sum(Contenido_Compra.cantidad*Productos.precio)>= all (SELECT Sum(Contenido_Compra.cantidad*Productos.precio)
                                                              FROM Usuarios, Compras, Contenido_Compra, Productos
                                                              WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
                                                              and Productos.pid=Contenido_Compra.pid 
                                                              group by Compras.cid, Usuarios.uid

)

 * postgresql+psycopg2://@/postgres

      nombre
0  Valentina

6. Nombre (sin repeticiones) de todos los usuarios que compraron un producto de tipo 'Electro'

In [7]:
%%sql
SELECT Distinct Usuarios.nombre
FROM Usuarios, Compras, Contenido_Compra, Productos
WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
and Productos.pid=Contenido_Compra.pid and Productos.tipo = 'Electro'

 * postgresql+psycopg2://@/postgres

   nombre
0  Adrián

7. Nombre de los usuarios que compraron uno de los cinco productos más caros. Para sacar los cinco más caros, usar LIMIT:

In [141]:
%%sql
SELECT distinct Usuarios.nombre
FROM Usuarios, Compras, Contenido_Compra, Productos
WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
and Productos.pid=Contenido_Compra.pid 
and Usuarios.nombre in (SELECT Usuarios.nombre
                        FROM Usuarios, Compras, Contenido_Compra, Productos
                        WHERE Usuarios.uid = Compras.uid and Compras.cid=Contenido_Compra.cid 
                        and Productos.pid=Contenido_Compra.pid
                        order by Productos.precio desc
                        limit 5)

 * postgresql+psycopg2://@/postgres

      nombre
0     Adrián
1  Valentina

8. Id de cada tienda, junto con el promedio de los precios de todos los productos que vende esta tienda

In [19]:
%%sql
SELECT Vende.tid, AVG(Productos.precio) as "Promedios de Precio"
FROM  Productos, Vende 
WHERE Productos.pid=Vende.pid
group by Vende.tid

 * postgresql+psycopg2://@/postgres

   tid  Promedios de Precio
0    3               331.25
1    2               290.00
2    1               286.00

9. Id de todas las compras en las cuales se compraron más de tres productos distintos (si el mismo producto fue comprado 3 veces o mas, esto no cuenta)

In [18]:
%%sql
SELECT C.cid as "Id de compras"
FROM Contenido_Compra as C
group by C.cid
having count(distinct C.pid) > 3

 * postgresql+psycopg2://@/postgres

   Id de compras
0            101

10. Para cada compra con **tres o más productos**, listar su id, el nombre del usuario, y el número de productos comprados en esta compra. Si un producto fue comprado dos o más veces, hay que contar esto:

In [26]:
%%sql
SELECT C.cid, Usuarios.nombre, SUM(C.cantidad) as "Número de productos"
FROM Contenido_Compra as C, Usuarios, Compras
WHERE C.cid = Compras.cid and Usuarios.uid=Compras.uid
GROUP BY C.cid , Usuarios.nombre
HAVING count(distinct C.pid) > 3

 * postgresql+psycopg2://@/postgres

   cid     nombre  Número de productos
0  101  Valentina                    7

11. Id de todas las tiendas que venden al menos un producto más caro que el producto más barato que existe en todos los productos:

In [36]:
%%sql
SELECT Vende.tid
FROM Productos, Vende
WHERE Productos.pid=Vende.pid
GROUP BY Vende.tid
HAVING max(precio) > (SELECT min(Precio)
                      FROM Productos, Vende
                      WHERE Productos.pid=Vende.pid
)

 * postgresql+psycopg2://@/postgres

   tid
0    3
1    2
2    1

12. Para cada región, listar el id de la tienda más preferida por los usuarios en esta región. Aquí se cuenta el número total de compras realizadas en la tienda, y no el número de usuarios que realizaron la compra. Si dos o mas tiendas empatadas para el primer lugar, listar todas.

In [41]:
%%sql
SELECT Usuarios.region, Compras.tid
FROM   Usuarios, Compras
WHERE Usuarios.uid=Compras.uid  
GROUP BY Usuarios.region, Compras.tid
HAVING count(Compras.tid) >= all (SELECT count(C2.tid)
                               FROM   Usuarios as U2, Compras as C2
                               WHERE U2.uid=C2.uid  and U2.region = Usuarios.region 
                               GROUP BY U2.region, C2.tid)

 * postgresql+psycopg2://@/postgres

       region  tid
0          RM    1
1  Valparaíso    3
2  Valparaíso    1