In [ ]:
!pip install --upgrade --no-cache-dir gdown
!gdown https://drive.google.com/uc?id=1mGxfX7NKoKxlpaQxvCZzq6niLpf3Ziaq

In [ ]:
!unzip "VW_VOTARON_2020PLEB_Datos_completos.zip"

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('VW_VOTARON_2020PLEB_Datos completos.csv', sep=';')

In [4]:
df.head(5)

**Para este control trabajaremos con una base de datos real (anonimizada) del SERVEL acerca del plebiscito, he indica si cada ciudadano voto o no en el plebiscito del 2020.**

# Pregunta 1
Reemplaze en la columna 'Votaron' los NaN por 0.

In [5]:
df['Votaron'] = df['Votaron'].fillna(0)

# Pregunta 2 
Calcule la cantidad de registros de la tabla.

In [6]:
df.shape[0]

14855719

**Para las siguientes preguntas, suponga que la columna 'Votaron' es un atributo sensible, y suponga que las columns 'Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna' son quasi-identificadores.**

# Pregunta 3
Calcule el nivel de $k$-anonimato para los quasi-indentificadores.
Hint: puede usar la columna 'N칰mero de registros' para contar.

In [7]:
p3=df[['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna','N칰mero de registros']].groupby(['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna']).count().sort_values('N칰mero de registros')
p3

                                             N칰mero de registros
Edad Pais Nacimiento Sexo      Comuna
53   Suiza           masculino Pe침alolen                       1
54   Guatemala       femenino  Quillota                        1
                               Providencia                     1
                               Cerrillos                       1
     Francia         masculino Vi침a Del Mar                    1
...                                                          ...
29   Chile           femenino  Puente Alto                  5123
27   Chile           masculino Puente Alto                  5143
30   Chile           masculino Puente Alto                  5209
29   Chile           masculino Puente Alto                  5214
28   Chile           masculino Puente Alto                  5246

[166930 rows x 1 columns]

In [8]:
print(f"El nivel de 洧녲-anonimato obtenido fue de {p3.min()[0]}")

El nivel de 洧녲-anonimato obtenido fue de 1

# Pregunta 4
Indique con 100% de certeza, todos los atributos de 5 individuos que no hayan votado en el plebiscito.

In [10]:
p4_1= df.query("Votaron == 0.0 ")

In [11]:
p4_2=p4_1[['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna','N칰mero de registros']].groupby(['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna']).count().sort_values('N칰mero de registros')

In [12]:
p4_3=p4_2[p4_2['N칰mero de registros']==1]

In [14]:
final  = pd.merge(p4_1, p4_3, how ='right', on =['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna'])
final.head(5)

,Cedula,Circunscripcion,Comuna,DV,Edad,Nacionalidad,Pais Domicilio,Pais Nacimiento,Partido,Provincia,Rango Edad,Region,Sexo,Sufragio,VotoExterior,N칰mero de registros_x,Votaron,N칰mero de registros_y
0,0,Freire,Freire,0,138,chilena,Chile,Chile,SIN PARTIDO,Cautin,80 o +,De La Araucania,masculino,no sufrag칩,Nacional,1,0.0,1
1,0,Independencia,Independencia,0,64,extranjero,Chile,Argentina,SIN PARTIDO,Santiago,60-64,Metropolitana De Santiago,masculino,no sufrag칩,Nacional,1,0.0,1
2,0,Futaleufu,Futaleufu,0,64,extranjero,Chile,Argentina,SIN PARTIDO,Palena,60-64,De Los Lagos,masculino,no sufrag칩,Nacional,1,0.0,1
3,0,Frutillar,Frutillar,0,64,extranjero,Chile,Argentina,SIN PARTIDO,Llanquihue,60-64,De Los Lagos,masculino,no sufrag칩,Nacional,1,0.0,1
4,0,Bellavista,La Florida,0,40,extranjero,Chile,Paraguay,SIN PARTIDO,Santiago,40-44,Metropolitana De Santiago,masculino,no sufrag칩,Nacional,1,0.0,1

# Pregunta 5.1
Generalize la columna 'Edad' usando la columna 'Rango Edad', 'Comuna' usando la columna 'Regi칩n', y  'Pais Nacimiento' por los valores 'Chile' o 'Extranjero'.
Indique el nivel de $k$-anonimato obtenido.

In [15]:
extranjeros = df[(df['Pais Nacimiento'] != 'Chile')]

In [17]:
extranjeros.loc[:, 'Pais Nacimiento'] = 'Extranjero'

C:\Users\nolat\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Si funciona el comando, solo me da un warning!, pero ac치 cambio toda esa columna por 'Extranjero'

In [18]:
chilenos = df[(df['Pais Nacimiento'] == 'Chile')]

In [20]:
p5= pd.concat([extranjeros, chilenos])

Uno tablas de Extranjeros(editada) y chilenos para agruparlas y obtener el k-anonimato

In [21]:
p5_1=p5[['Rango Edad', 'Pais Nacimiento', 'Sexo' , 'Region','N칰mero de registros']].groupby(['Rango Edad', 'Pais Nacimiento', 'Sexo' , 'Region']).count().sort_values('N칰mero de registros')
p5_1

                                                                                   N칰mero de registros
Rango Edad Pais Nacimiento Sexo      Region
18 a 19    Extranjero      femenino  De Los Rios                                                     1
70-74      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                    3
75-79      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                    6
20-24      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                    6
18 a 19    Extranjero      femenino  De 칌uble                                                        6
...                                                                                                ...
35-39      Chile           masculino Metropolitana De Santiago                                  257260
25-29      Chile           femenino  Metropolitana De Santiago                                  277837
30-34      Chile           femenino  Metropolitana De Santiago                                  282399
25-29      Chile           masculino Metropolitana De Santiago                                  283588
30-34      Chile           masculino Metropolitana De Santiago                                  288647

[896 rows x 1 columns]

In [22]:
print(f"El nivel de 洧녲-anonimato obtenido fue de {p5_1.min()[0]}")

El nivel de 洧녲-anonimato obtenido fue de 1

# Pregunta 5.2
Utilize alguna t칠cnica para obtener al menos $3$-anonimato.

$\rightarrow$ Para esto eliminaremos los outliers (valor at칤picos).
<br>
Para esto eliminamos al grupo que tiene 1 numero de registros (1 persona).
<br>
Quitaremos este valor at칤pico cambiando en el dataframe el 'Rango Edad' de 18 a 19 $\rightarrow$ de 18-24.
<br>
As칤, obtendremos que salga el valor at칤pico cumpliendo con lo pedido.

In [24]:
cambio_edad = p5
cambio_edad.rename(columns = {'Rango Edad':'Rango_Edad'}, inplace = True)
cambio_edad.loc[cambio_edad.Rango_Edad == '18 a 19', 'Rango_Edad'] = '18-24'
cambio_edad.loc[cambio_edad.Rango_Edad =='20-24', 'Rango_Edad'] = '18-24'

In [25]:
p5_2=cambio_edad[['Rango_Edad', 'Pais Nacimiento', 'Sexo' , 'Region','N칰mero de registros']].groupby(['Rango_Edad', 'Pais Nacimiento', 'Sexo' , 'Region']).count().sort_values('N칰mero de registros')
p5_2

                                                                                   N칰mero de registros
Rango_Edad Pais Nacimiento Sexo      Region
70-74      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                    3
75-79      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                    6
25-29      Extranjero      masculino De Aysen Del General Carlos Iba침ez Del Campo                   10
75-79      Extranjero      masculino De Aysen Del General Carlos Iba침ez Del Campo                   10
18-24      Extranjero      femenino  De Aysen Del General Carlos Iba침ez Del Campo                   12
...                                                                                                ...
30-34      Chile           femenino  Metropolitana De Santiago                                  282399
25-29      Chile           masculino Metropolitana De Santiago                                  283588
30-34      Chile           masculino Metropolitana De Santiago                                  288647
18-24      Chile           femenino  Metropolitana De Santiago                                  341967
                           masculino Metropolitana De Santiago                                  352200

[832 rows x 1 columns]

Notamos que obtuvimos 3-anonimato, cumpliendo lo pedido.

# Pregunta 6
Calcule el nivel de $l$-diversidad de la tabla anonimizada obtenida en la pregunta anterior.

In [26]:
p6=cambio_edad
p6.groupby(['Rango_Edad', 'Pais Nacimiento', 'Sexo' , 'Region']).Votaron.nunique().reset_index().sort_values(['Votaron'])

,Rango_Edad,Pais Nacimiento,Sexo,Region,Votaron
739,75-79,Extranjero,femenino,De Aysen Del General Carlos Iba침ez Del Campo,1
675,70-74,Extranjero,femenino,De Aysen Del General Carlos Iba침ez Del Campo,1
808,80 o +,Extranjero,femenino,De Magallanes Y De La Antartica Chilena,1
819,80 o +,Extranjero,masculino,De Aysen Del General Carlos Iba침ez Del Campo,1
802,80 o +,Extranjero,femenino,De Atacama,1
...,...,...,...,...,...
281,40-44,Chile,masculino,De Tarapaca,2
282,40-44,Chile,masculino,De Valparaiso,2
283,40-44,Chile,masculino,De 칌uble,2
830,80 o +,Extranjero,masculino,Del Maule,2
831,80 o +,Extranjero,masculino,Metropolitana De Santiago,2

In [27]:
print(f"El nivel de l-diversidad obtenido fue de 1")

El nivel de l-diversidad obtenido fue de 1

# Pregunta 7
Compute la cantidad de personas que votaron por cada grupo distinto de quasi-identificadores (sin generalizar). Para publicar estos datos debe usar un algoritmo que sea $0.1$-diferencialmente privado ($\epsilon=0.1$). Asegurese de no devolver resultados

Hint: usualmente la sensibilidad de una consulta de conteo es 1, y puede usar la distribuci칩n de laplace para agregar ruido.

In [28]:
import numpy as np

In [29]:
p7_1=df[df['Votaron']==1.0]

In [30]:
p7_2= p7_1
p7_2 = p7_2.groupby(['Edad', 'Pais Nacimiento', 'Sexo' , 'Comuna']).size().reset_index(name='contar').sort_values(['contar'])
p7_2['contardp'] = p7_2['contar'].map(lambda x:round(max(0,x + np.random.laplace(loc=0, scale=1/0.1))))
p7_2

       Edad Pais Nacimiento       Sexo       Comuna  contar  contardp
42534    50          Brasil   femenino        Macul       1         3
39196    47            Peru  masculino       Curico       1         8
39197    47            Peru  masculino    El Bosque       1         0
39202    47            Peru  masculino  La Cisterna       1        10
39211    47            Peru  masculino    Los Andes       1         3
...     ...             ...        ...          ...     ...       ...
9622     27           Chile   femenino        Maipu    3240      3236
11976    29           Chile   femenino  Puente Alto    3264      3267
7560     25           Chile   femenino  Puente Alto    3267      3262
10743    28           Chile   femenino        Maipu    3302      3307
8611     26           Chile   femenino  Puente Alto    3313      3311

[85069 rows x 6 columns]

Se puede notar que para grupos muy chicos las respuestas son poco 칰tiles ya que el ruido distorciona mucho la respuesta real. Pero esto esta bien desde el punto de privacidad ya que los grupos muy chicos son muy selectivos y por ende tienen una gran probabilidad de violar privacidad. <br>
Mientras que para grupos grandes es bastante 칰til ya que se aproxima muy bien los resultados.

# Pregunta 8
A continuaci칩n hay dos transacciones T1 y T2 en las cuales A, B y C son tres valores distintos en la base de datos.

| T1 | T2   |
|------|------|
|   R(A)  | R(A) |
|   W(B, A*2)  | W(A, A-5) |
|   R(C)  | R(C) |
|   W(C, C-100)  | W(C, C+A)|

Donde 'R(A)' representa la lectura del valor 'A', y 'W(A,B)' representa la escritura de 'A' con el valor 'B' (i.e. escribir 'B' en 'A').

Para los siguientes tipos de conflictos indique si es posible que ocurra:

1.   Escritura-lectura (WR)

Podemos notar que esto no podr치 ocurrir. Esto debido a que en las transacciones correspondiente nunca se aborta la transacci칩n.

2.   Lectura-escritura (RW)

Podemos notar que esto no podr칤a ocurrir ya que las transacciones no se pueden volver a repetir, y para que pase este tipo de problema se deber칤a leer 2 veces la misma operaci칩n en la misma transacci칩n, sin embargo si bien se lee en 2 oportunidades en cada transacci칩n, ninguna lee el mismo valor por lo que es imposible que ocurra este conflicto.


3.   Escritura-escritura (WW)


Podemos notar que este tipo de conflicto no es posible, si es que estamos frente a alg칰n schedule. Ya que para que esto ocurra deber칤a existir un orden: <br> R(a) $\rightarrow$ R(b) $\rightarrow$ W(b) $\rightarrow$ W(a) <br>
Sin embargo, en schedule serializable no ocurre, mientras en los que no, son permutaciones no permitidas.